body {
    background-image: radial-gradient(at top,#CCDAE0,#EDF2F4) ;
}
header {
    text-align: center;
}
header ul {
    padding: 0%;
}
.title {
    color: #EF233C;
    font-size: 50px;
    font-weight: bold;
    font-family: Impact, sans-serif;
    text-align: center;
}
h3{
    color:  #2B2D42;
    font-size: 25px;
    text-decoration: underline dashed;
}
article {
    border: 1px solid black;
    
}
.image {
    text-align: center;
}
img {
    border: 2px solid #8D99AE;
}
footer {
    text-align: right;
}
ul{
    list-style: none;
}
a {
    color: #D90429;
}
a:visited {
    color:grey;
}
a:hover {
    color:#2B2D42;
}
.need {
    color:red;
}
fieldset {
    border:1px solid white;
}
.button a {
    color: red !important;
}
.card {
    padding: 20px;
    margin-top: 20px;
}




.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.carousel-item img:hover {
    opacity: 50%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

